

body{
    margin:0px;
    font-family:sans-serif, helvetica;
    color:#666666;
    
}
#main{
    background-color:whitesmoke;

}
#header{
    height: 40px;
    background-image: url('IMG/header.png');
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);

}
#footer{
    height: 40px;
    background-image: url('IMG/header.png');

}
#middle{

}
#content{
    
    background-color: #e3e3e3;
    margin-bottom: 200px;
    margin-top:7px;
    padding: 12px;
    margin-left: 95px;
    margin-right: 95px;
    
}
#menu{
    height: 150px;
    background-image: url('IMG/menu.png');

    margin: 0 auto;
    border-bottom-right-radius:7px;
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);
    border-bottom-left-radius:7px;
    margin-top: 7px;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;

    min-width: 1224px;

}
#subheader{
    height:44px;

    background-image: url('IMG/subheader.png');
    margin: 0 auto;
    border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);
    box-shadow:5px 5px 11px rgba(50, 50, 50, 0.54);
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 60px;
    text-align:center;
    min-width: 1224px;

}
#botoes{
    
    height: 32px;
    background-image: url('IMG/botoes.png');
    border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
}

#nomes li.other:before{
    content:"||";
    padding-right:75px;
    padding-left: 75px;
}
#nomes ul{
    list-style: none;
    margin: 0 auto;
    padding:5px;
    position: absolute;
    left: 55px;


}
#nomes li{
    display: inline;

}

#header{

}
#nomes2 ul{
    list-style: none;
    margin: 0 auto;
    padding-top:7px;
}
#nomes2 li{
    display: inline;


}
#nomes2 li.other:before{
    content:"|";
    padding-right:15px;
    padding-left: 13px;
}
#home{
    padding-top: 12px;
    font-weight: bold;
    font-size: 14px;
    
}
#logo{

    height: 110px;
    width: 176px;
    background-image: url('IMG/Logo3.png');
    background-repeat: no-repeat;
    margin-left: 40px;
}
#footer ul{
    list-style: none;
    margin: 0;
    padding-top:7px;
}
#footer li{
    display: inline;


}
#footer li.other:before{
    content:"|";
    padding-right:15px;
    padding-left: 13px;
}
input:focus{
    background-color:#efd2ac;
}
#search, #submit
{
    float: left;
}

#search
{
    padding: 5px 9px;
    height: 23px;
    width: 380px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;

    border-radius: 50px 3px 3px 50px;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{		
    background: #f08e0c;
    background-image: linear-gradient(#efd2ac, #f08e0c);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f08e0c),color-stop(1,#efd2ac ));

    border-radius: 3px 50px 50px 3px;
    border-radius: 3px 50px 50px 3px;

    border-width: 1px;
    border-style: solid;
    border-color:#f9e3c7;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover
{		
    background: #efd2ac;
    background-image: -moz-linear-gradient(#f08e0c,#efd2ac );
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #efd2ac ),color-stop(1, #f08e0c));
}	

#submit:active
{		
    background: #95d788;
    outline: none;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
    border: 0;  /* Small centering fix for Firefox */
}
#Procurar{
    height: 40px;
    float:right;
    position: absolute;
    left:400px;
    bottom: 40px;

}
.button{
    font-family:sans-serif, helvetica;
    color:#666666;
    padding: 6px;
    
}
.button:hover{
    color: orange;
}
#searchbox{

}
#botaohome{
    position:absolute;
    right:14px;
    bottom: 45px;
}
/*----------------botaohome-----*/
#submit2
{		
    background: #f08e0c;
    background-image: linear-gradient(#efd2ac, #f08e0c);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f08e0c),color-stop(1,#efd2ac ));

    border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;

    border-width: 1px;
    border-style: solid;
    border-color:#f9e3c7;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit2:hover
{		
    background: #efd2ac;
    background-image: -moz-linear-gradient(#f08e0c,#efd2ac );
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #efd2ac ),color-stop(1, #f08e0c));
    
}	

#submit2:active
{		
    background: #95d788;
    outline: none;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit2::-moz-focus-inner
{
    border: 0;  /* Small centering fix for Firefox */

}
#content2{
    background-color: #fdfbe6;
    margin: 0 auto;
    margin-top:7px;
    padding: 12px;
    margin-left: 95px;
    margin-right: 95px;
}
#tregisto{
    width: 700px;
    height: 400px;

    background-image: url('IMG/registo.png');

    padding: 5px;
}
.caixa{
    width:400px;
}
.caixa2{
    width:170px;
}
#registo{
    margin-left:120px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
}
#tlogin{
    width: 700px;
    height: 200px;
    background-image: url('IMG/registo.png');
    padding: 5px;

}
.subotao{
    margin-left:50px;
    display: inline;
}
.submit3{
    background: #f08e0c;
    background-image: linear-gradient(#efd2ac, #f08e0c);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f08e0c),color-stop(1,#efd2ac ));

    border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;

    border-width: 1px;
    border-style: solid;
    border-color:#f9e3c7;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

    height: 29px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 180px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit3:hover
{		
    background: #efd2ac;
    background-image: -moz-linear-gradient(#f08e0c,#efd2ac );
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #efd2ac ),color-stop(1, #f08e0c));
}	

#submit3:active
{		
    background: #95d788;
    outline: none;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit3::-moz-focus-inner
{
    border: 0;  /* Small centering fix for Firefox */

}
#wrapper{

    margin-top:7px;
    padding: 12px;
    margin-left: 95px;
    margin-right: 95px;
}
.pic1{
    padding: 10px;
    background-color: white;
    border-style:outset;
    border-color: orange;
    border-width: 5px;
    border-radius: 10px;
    height: 300px;
    width: 350px;
    margin-top: 50px;
    position: relative;
    left: 20px;
}
.pic2{
    padding: 10px;
    background-color: white;
    border-style:outset;
    border-color: orange;
    border-width: 5px;
    border-radius: 10px;
    height: 300px;
    width: 350px;
    position: relative;
    left: 500px;
    top: -330px;
}
.pic3{
    padding:10px;
    background-color: white;
    border-style:outset;
    border-color: orange;
    border-width: 5px;
    border-radius: 10px;
    height: 300px;
    width: 350px;
    position: relative;
    left: 20px;
    top:-280px;
}
.pic4{
    padding: 10px;
    background-color: white;
    border-style:outset;
    border-color: orange;
    border-width: 5px;
    border-radius: 10px;
    height: 300px;
    width: 350px;
    position: relative;
    left: 500px;
    top:-610px;
}
#path{
    position:relative;
    top: 130px;
    left: 70px;
    width: 1000px;
}
#banner{
    position: absolute;
    top:250px;
    left:300px;
}

#textpath{
    font-size: 13px;
}


/*-------------*/

#animated_div
{
width: 200px;
position:relative;
padding:10px;
animation:animated_div 2s 1;
-moz-animation:animated_div 2s 1;
-webkit-animation:animated_div 2s 1;
-o-animation:animated_div 2s 1;


}


@keyframes animated_div
{
0%		{transform: rotate(0deg);left:0px;}
25%		{transform: rotate(20deg);left:0px;}
50%		{transform: rotate(0deg);left:100px;}
55%		{transform: rotate(0deg);left:100px;}
70%		{transform: rotate(0deg);left:100px;}
100%            {transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_div
{
0%		{-webkit-transform: rotate(0deg);left:0px;}
25%		{-webkit-transform: rotate(20deg);left:0px;}
50%		{-webkit-transform: rotate(0deg);left:100px;}
55%		{-webkit-transform: rotate(0deg);left:100px;}
70%		{-webkit-transform: rotate(0deg);left:100px;}
100%	{-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%   {-moz-transform: rotate(0deg);left:0px;}
25%  {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:100px;}
55%  {-moz-transform: rotate(0deg);left:100px;}
70%  {-moz-transform: rotate(0deg);left:100px;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0%   {transform: rotate(0deg);left:0px;}
25%  {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:100px;}
55%  {transform: rotate(0deg);left:100px;}
70%  {transform: rotate(0deg);left:100px;}
100% {transform: rotate(-360deg);left:0px;}
}
/*-----------------*/


